h1 {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    color:navajowhite;
    
   
}

.jumbotron {
   background-color: navy;
}

div {
    margin-left: 100px;
    margin-right: 100px;
}