.logo {
    height: 20rem;
}

body {
    background-color: whitesmoke;
}

label {
    font-family: 'Courier Prime', monospace;
}

#gifButtons{
    padding-top: 10%;
}

#topicForm {
    padding-top: 10%;
}

button,
#addGif,
input {
    border-radius: 4px;
    background-color: #e9c261;
    color: white;
    border: none;
    margin: 10px;
}

.gif_img {
    width: 90%;
    height: 90%;
    border-radius: 500px 100px 600px 500px;
}

.grid-container {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 10px 10px;
    justify-items: center;
    justify-content: center;
}

footer {
    text-align: center;
}
#annie {
    width: 15%;
}